/*Voici un commentaire : il permet de commenter chaque ligne du fichier afin de savoir à quoi elle correspond*/
body
{
	background:grey;
	/*font-family:Arial,Verdanasans-serif;*/
}
h1
{
	color : blue;
	text-align : right;
}
h2
{
	color : green;
	/*font-size : 150%;
	background : white;
	text-align : center;*/
}
ul
{
	list-style : square;
}

td,table
{
	border-style: solid;
}
