#cadre {
    padding: 3px; 
    background-color: white;"
    margin-left: auto;
    margin-right: auto;
    width: 31em;
    vertical-align: middle;
    padding: 1em;
    text-align: center;
}

#reponse{
    font-size: xx-large;
}
