/* Tout le texte est justifié ... */
body {
  text-align: justify;
}

/* ... sauf les liens à gauche de la page. */
.md-nav__item {
  text-align: left;
}

/* Pour imiter un bouton. */
bouton {
  background-color: #d9dbda;
  border: 1px solid;
  border-color: grey;
  color: black;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75em;
  margin: 4px 2px;
  cursor: pointer;
}

p {
  margin: 1.5em 0;
}

h2 {
  margin: 2em 0 1em;
}

/* Pour avoir une "jolie" arborescence de fichiers. */
.arborescence {
  font-family: monospace;
  font-size: 1em;
  line-height: 1.1;
  -webkit-text-size-adjust: none;
}

red {
  color:red;
}


/* Pour avoir des images entourées en vert pointillés. */
img {
  border: 3px dashed var(--md-primary-fg-color);
  padding: 5px;
}

/* Pour avoir des codes CSS entourés en vert pointillés. */
div.language-css, div.language-py {
  border: 3px dashed var(--md-primary-fg-color);
  padding: 5px;
}