h1 {
    text-align: center;
    color: blue;
    font-size: 40px;
}

h2 {
    color: white;
    background-color: black;
}

p {
    font-family: Verdana;
}

body {
    width: 800px;
    margin: auto;
    background-color: rgb(240, 255, 255);
}

h2 {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

h3 {
    text-align: center;
    font-family: Arial;
  }

p {
    margin-left: 20px;
    margin-right: 100px;
}

table {
    border: 5px solid;
}

td, th {
    border: 1px solid;
}